/* General */

body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
  color: #231f20;
  line-height: 1.5;
  text-shadow: 0px 1px 4px 0px #ccc;
}

hr {
  margin-bottom: 2%;
  border: 0.5px solid #ccc;
}

h1 {
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-size: 2.5em;
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 2%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: .8;
}

p {
  margin: 0 0 19.44444px;
}

iframe {
  border: none;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.yellow {
  background-color: #f9c612;
}

/* Header */

.header {
  color: #fff;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*yellow*/
  background-color: #f9c612;
  box-shadow: 0px 1px 4px 0px #ccc;
}

.logo {
  margin: 15px 0;
}

/* Buttons */

.btn {
  background-color: #f9c612;
  box-shadow: 0px 1px 4px 0px #ccc;
  border-radius: 3%;
  padding: 12px 24px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.header-btn {
  background-color: #000;
  color: #fff;
  box-shadow: 0px 1px 4px 0px grey;
  position: relative;
  right: 0;
}

.product-bottom>.btn-container {
  width: 100%;
}

/* List */

ul {
  list-style: disc;
  margin: 0 0 20px;
}

li {
  margin-left: 8%;
}

/* Product */

.product {
  padding: 4% 8%;
  margin-bottom: 4%;
  display: flex;
  justify-content: space-between;
}

.product-bottom {
  padding: 4% 8%;
  margin-bottom: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.price {
  font-weight: 700;
  width: 70%;
  align-self: flex-end;
  margin-bottom: 20px;
}

.dvd-bottom {
  width: 40%;
}

.dvd {
  width: 60%;
  height: 120%;
}

.reg-price {
  text-decoration: line-through;
  font-weight: 400;
}

.credit {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: grey;
}

.buy-now {
  width: 100%;
}

.faith-quote {
  width: 100%;
}

/* About */

.about {
  padding: 0 8%;
  margin-bottom: 8%;
  text-align: left;
}

.bio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.headshot {
  width: 30%;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px #ccc;
}

.bio-text {
  padding-left: 8%;
  width: 62%;
}

/* Testimonials */

.testimonials {
  padding: 0 8%;
  margin-bottom: 8%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
}

.testimonial>.credit {
  color: black;
}

.testimonial {
  margin-bottom: 4%;
  border-radius: 2%;
}

.testimonial-text {
  align-self: center;
  padding: 2%;
}

.testimonial-img {
  width: 200px;
}

.dash {
  font-size: 2rem;
  color: grey;
  line-height: 0.5;
  vertical-align: sub;
}

/* Video */

.video-heading {
  padding: 2% 0;
}

.video {
  text-align: center;
}